.page__products.products-slider
      .products-slider__header
        .products-slider__title Популярные товары
        .products-slider__control
          .products-slider__arrow.products-slider__arrow-prev._arrow._arrow_prev
          .products-slider__info
          .products-slider__arrow.products-slider__arrow-next._arrow._arrow_next
      .products-slider__item._swiper.swiper-container
        .swiper-wrapper
          .products-slider__slide.swiper-slide
            .products-slider__items.items-products
              .items-products__column