.breadcrumbs
  .container
    ul.breadcrumbs__list
      li.breadcrumbs__list-item
        a(href="#") Главная
      li.breadcrumbs__list-item
        a(href="#") Гидроциклы
      li.breadcrumbs__list-item
        span Гидроцикл BRP SeaDoo GTI 155hp SE Long Blue Metallic