.footer
  .container
    .footer__top
      .footer__top-inner
        .footer__top-item.footer__top-newslatter
          h6.footer__top-title Подпишитесь на нашу рассылку и узнавайте о акцих быстрее
          form(action="").footer-form
            input(type="text" placeholder="Введите ваш e-mail:").footer-form__input
            button(type="submit").footer-form__btn Отправить
        .footer__top-item.footer__top-itemdrop
          h6.footer__top-title.footer__topdrop Информация
          ul.footer-list
            li.footer-list__item
              a(href="#") О компании
            li.footer-list__item
              a(href="#") Контакты
            li.footer-list__item
              a(href="#") Акции
            li.footer-list__item
              a(href="#") Магазины
        .footer__top-item
          h6.footer__top-title.footer__topdrop Интернет-магазин
          ul.footer-list
            li.footer-list__item
              a(href="#") Доставка и самовывоз
            li.footer-list__item
              a(href="#") Оплата
            li.footer-list__item
              a(href="#") Возврат-обмен
            li.footer-list__item
              a(href="#") Новости
        .footer__top-item.footer__top-social
          ul.social-list
            li.social-list__item
              a(href="#") 
                img(src="images/instagram.svg" alt="")
            li.social-list__item
              a(href="#") 
                img(src="images/vk.svg" alt="")
            li.social-list__item
              a(href="#") 
                img(src="images/facebook.svg" alt="")
            li.social-list__item
              a(href="#") 
                img(src="images/youtube.svg" alt="")
    .footer__bottom
      a(href="#").footer__bottom-link Договор оферты
      a(href="#").footer__bottom-link Политика обработки персональных данных