label.checkbox
  input(data-error='Ошибка' class='checkbox__input' type='checkbox' value='1')
  span.checkbox__text
    span Сlear-fit


//- .filter__section.section-filter
//-   .section-filter__title._spoller Производитель:
//-   .section-filter__body
//-     label.section-filter__checkbox.checkbox
//-       input(data-error='Ошибка' class='checkbox__input' type='checkbox' value='1')
//-       span.checkbox__text
//-         span Сlear-fit
//-     label.section-filter__checkbox.checkbox
//-       input(data-error='Ошибка' class='checkbox__input' type='checkbox' value='1')
//-       span.checkbox__text
//-         span Diadora
//-     label.section-filter__checkbox.checkbox
//-       input(data-error='Ошибка' class='checkbox__input' type='checkbox' value='1')
//-       span.checkbox__text
//-         span Hasttings
//-     label.section-filter__checkbox.checkbox
//-       input(data-error='Ошибка' class='checkbox__input' type='checkbox' value='1')
//-       span.checkbox__text
//-         span Carbon-fitness
//-     label.section-filter__checkbox.checkbox
//-       input(data-error='Ошибка' class='checkbox__input' type='checkbox' value='1')
//-       span.checkbox__text
//-         span Nordic Track