header.header
  .header__top
    .container
      .header__top-inner
        nav.menu
          button.menu__btn
            .menu__btn-line
            .menu__btn-line
            .menu__btn-line
          ul.menu__list
            li.menu__item
              a(href="#").menu__link Магазины
            li.menu__item
              a(href="#").menu__link Акции
            li.menu__item
              a(href="#").menu__link Доставка и оплата
        a.logo
          img(src="images/logo.svg", alt="alt").logo__img
        .header__box
          p.header__adress Москва, ул. Науки 25
          ul.user-list
            li.user-list__item
              a(href="#").user-list__link
                img(src="images/heart.svg", alt="alt")
            li.user-list__item
              a(href="#").user-list__link
                img(src="images/user.svg", alt="alt")
            li.user-list__item
              a(href="#").user-list__link.basket
                img(src="images/basket.svg", alt="alt")
                p.basket__num 1
  ul.menu-mobile__list
    li.menu-mobile__item
      a(href="#").menu-mobile__link
        img(src="images/user.svg", alt="alt").menu-mobile__img
        p Войти
    li.menu-mobile__item
      a(href="#").menu-mobile__link
        img(src="images/user.svg", alt="alt").menu-mobile__img
        p Регистрация
    li.menu-mobile__item
      a(href="#").menu-mobile__link
        img(src="images/heart.svg", alt="alt").menu-mobile__img
        p Избранное
    li.menu-mobile__item
      a(href="#").menu-mobile__link
        img(src="images/basket.svg", alt="alt").menu-mobile__img
        p Корзина
    li.menu-mobile__item
      a(href="#").menu-mobile__link
        img(src="images/house.svg", alt="alt").menu-mobile__img
        p Магазины
    li.menu-mobile__item
      a(href="#").menu-mobile__link
        img(src="images/percentage.svg", alt="alt").menu-mobile__img
        p Акции
    li.menu-mobile__item
      a(href="#").menu-mobile__link
        img(src="images/box.svg", alt="").menu-mobile__img
        p Доставка и оплата
    li.menu-mobile__item
      a(href="#").menu-mobile__link
        p Квадроциклы
    li.menu-mobile__item
      a(href="#").menu-mobile__link
        p Катера
    li.menu-mobile__item
      a(href="#").menu-mobile__link
        p Гидроциклы
    li.menu-mobile__item
      a(href="#").menu-mobile__link
        p Лодки
    li.menu-mobile__item
      a(href="#").menu-mobile__link
        p Вездеходы
    li.menu-mobile__item
      a(href="#").menu-mobile__link
        p Снегоходы
    li.menu-mobile__item
      a(href="#").menu-mobile__link
        p Двигатели
    li.menu-mobile__item
      a(href="#").menu-mobile__link
        p Запчасти
  ul.menu__mobile-line
    li.menu__item
      a(href="#").menu__link Магазины
    li.menu__item
      a(href="#").menu__link Акции
    li.menu__item
      a(href="#").menu__link Доставка и оплата
  .header__bottom
    .container
      ul.menu-categories
        li.menu-categories__item
          a(href="#").menu-categories__link  Квадроциклы
        li.menu-categories__item
          a(href="#").menu-categories__link Катера
        li.menu-categories__item
          a(href="#").menu-categories__link Гидроциклы
        li.menu-categories__item
          a(href="#").menu-categories__link Лодки
        li.menu-categories__item
          a(href="#").menu-categories__link Вездеходы
        li.menu-categories__item
          a(href="#").menu-categories__link Снегоходы
        li.menu-categories__item
          a(href="#").menu-categories__link Двигатели
        li.menu-categories__item
          a(href="#").menu-categories__link Запчасти 