.btn {
  display: inline-block;
  vertical-align: top;

  border: none;
  background: $secondary;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.1;
  color: $white;
  font-family: inherit;
  padding: 1.13em 2.1em;
  border-radius: 3em;
  transition: background-color 0.2s linear;
  &:hover {
    text-decoration: none;
  }

  &--red {
    background-color: $red;
    box-shadow: 0 7px 17px -10px ($red, 0.25);
    &:hover,&focus {
      background-color: darken($red, 5%);
    }
  }
  &--blue {
    background-color: $blue;
    box-shadow: 0 7px 17px -10px rgba($blue, 0.25);
    &:hover,&focus{
      background-color: darken($blue, 5%);
    }
  }
  &--rounded {
    border-radius: 0.41em;
  }
  &--sm {
    padding: 0.7em 1.25em;
  }
}
