.product__info.info-product._tabs
  nav.info-product__nav
    .info-product__item._tabs-item._active(data-tab-name="tab-1")
      span Описание
    .info-product__item._tabs-item(data-tab-name="tab-2")
      span Характеритики
  .info-product__body
    .info-product__block._tabs-block.tab-1._active
      p Начав с производства качественных деревянных лыж, во второй половине 90-х Nordic Track расширил производство, верно угадав тренд развития спортивного оборудования. С этого момента беговые дорожки Nordic Track стали настоящим фетишем как для серьезных спортсменов, так и для любителей фитнеса. Готовитесь ли вы к восхождению на горный пик, к сплаву по бурной реке, или просто решили влезть в прошлогодний купальник к наступающему лету – Nordic Track поможет достойно решить задачу подготовки к этим свершениям.
    .info-product__block._tabs-block.tab-2
      table.info-product__table
        tr
          td
            .info-product__label Использование
          td
            .info-product__value Полупрофессиональное