// Пагинация - то 0 до 1 Прокопчук
.pagination
  ul.pagination-list
    li.pagination-list__item.active
      a(href="#") 1
    li.pagination-list__item
      a(href="#") 2
    li.pagination-list__item
      a(href="#") 3
    li.pagination-list__item
      a(href="#") 4
    li.pagination-list__item
      a(href="#") 5
    li.pagination-list__item.pagination-list__item--dots
      span(href="#") ...
    li.pagination-list__item
      a(href="#") 11