.search.page-section
  .container
    .search__inner
      .tabs-wrapper
        .search__tabs
          a(href="" data-tab-name="tab-1").tab.search__tabs-item.tab--active Поиск по номеру
          a(href="" data-tab-name="tab-2").tab.search__tabs-item Поиск по марке
          a(href="" data-tab-name="tab-3").tab.search__tabs-item Поиск по названию товара
        .search__content
          .tabs-content.search__content-item.tab-1.tabs-content--active
            form.search__content-form
              input(type="text" placeholder="Введите номер").search__content-input
              button(type="submit").search__content-btn искать
          .tabs-content.search__content-item.tab-2
            form.search__content-form
              input(type="text" placeholder="Введите марку").search__content-input
              button(type="submit").search__content-btn искать
          .tabs-content.search__content-item.tab-3
            form.search__content-form
              input(type="text" placeholder="Введите название товара").search__content-input
              button(type="submit").search__content-btn искать


.tabs-wrapper
  .tabs
    a(href="#" data-tab-name="tab-1").tab.tab--active Параметры
    a(href="#" data-tab-name="tab-2").tab По марке
  .tabs-container
    .tabs-content.tab-1.tabs-content--active content-1
    .tabs-content.tab-2 content-2