section.banner-section.page-section
  .container
    .banner-section__inner
      .banner-section__slider
        a(href="#").banner-section__slider-item
          img(src="images/banner-slider.jpg", alt="alt").banner-section__slider-img
        a(href="#").banner-section__slider-item
          img(src="images/banner-slider.jpg", alt="alt").banner-section__slider-img
        a(href="#").banner-section__slider-item
          img(src="images/banner-slider.jpg", alt="alt").banner-section__slider-img
        a(href="#").banner-section__slider-item
          img(src="images/banner-slider.jpg", alt="alt").banner-section__slider-img
        a(href="#").banner-section__slider-item
          img(src="images/banner-slider.jpg", alt="alt").banner-section__slider-img
        a(href="#").banner-section__slider-item
          img(src="images/banner-slider.jpg", alt="alt").banner-section__slider-img
      a(href="#").banner-section__item.sale-item
        .sale-item__top
          p.sale-item__info Акция
          .sale-item__price
            .sale-item__price-new 190 000
            .sale-item__price-old 225 000
        img(src="images/content/sale-1.png", alt="alt").sale-item__img
        h5.sale-item__title Лодочный мотор Suzuki DF9.9BRS
        p.sale-item__footer Акция действует до
          span 31.08.2020