section.products.page-section
  .container
    .products__inner
      h3.products__title Популярные товары
      .tabs-wrapper
        .tabs.products__tabs
          a(href="#" data-tab-name="tab-1").tab.products__tab.tab--active запчасти
          a(href="#" data-tab-name="tab-2").tab.products__tab моторы
          a(href="#" data-tab-name="tab-3").tab.products__tab шины 
          a(href="#" data-tab-name="tab-4").tab.products__tab электроника
          a(href="#" data-tab-name="tab-5").tab.products__tab инструменты
          a(href="#" data-tab-name="tab-6").tab.products__tab аксессуары 
        .tabs-container.products__container
          .tabs-content.products__content.tab-1.tabs-content--active
            .product__slider
              .product__slider__item
                .product-item__wrapper
                  button.product-item__favorite
                  button.product-item__basket
                    img(src="images/basket-white.svg", alt="alt")
                  a(href="#").product-item__notify-link 
                    span Сообщить о поступлении
                  a(href="#").product-item
                    p.product-item__hover-text посмотреть товар
                    img(src="images/content/product-1.png", alt="alt").product-item__img
                    h4.product-item__title Водонепроницаемый Рюкзак
                    p.price.product-item__price.rub 9 800
                    p.product-item__notify-text нет в наличии
              .product__slider__item
                .product-item__wrapper.product-item__not-available
                  button.product-item__favorite
                  button.product-item__basket
                    img(src="images/basket-white.svg", alt="alt")
                  a(href="#").product-item__notify-link 
                    span Сообщить о поступлении
                  a(href="#").product-item.product-item--sale
                    p.product-item__hover-text посмотреть товар
                    img(src="images/content/product-1.png", alt="alt").product-item__img
                    h4.product-item__title Водонепроницаемый Рюкзак
                    p.price.product-item__price.rub 9 800
                    p.product-item__notify-text нет в наличии
              .product__slider__item
                .product-item__wrapper
                  button.product-item__favorite
                  button.product-item__basket
                    img(src="images/basket-white.svg", alt="alt")
                  a(href="#").product-item__notify-link 
                    span Сообщить о поступлении
                  a(href="#").product-item.product-item--sale
                    p.product-item__hover-text посмотреть товар
                    img(src="images/content/product-1.png", alt="alt").product-item__img
                    h4.product-item__title Водонепроницаемый Рюкзак
                    p.price.product-item__price.rub 9 800
                    p.product-item__notify-text нет в наличии
              .product__slider__item
                .product-item__wrapper.product-item__not-available
                  button.product-item__favorite
                  button.product-item__basket
                    img(src="images/basket-white.svg", alt="alt")
                  a(href="#").product-item__notify-link 
                    span Сообщить о поступлении
                  a(href="#").product-item
                    p.product-item__hover-text посмотреть товар
                    img(src="images/content/product-1.png", alt="alt").product-item__img
                    h4.product-item__title Водонепроницаемый Рюкзак
                    p.price.product-item__price.rub 9 800
                    p.product-item__notify-text нет в наличии
              .product__slider__item
                .product-item__wrapper.product-item__not-available
                  button.product-item__favorite
                  button.product-item__basket
                    img(src="images/basket-white.svg", alt="alt")
                  a(href="#").product-item__notify-link 
                    span Сообщить о поступлении
                  a(href="#").product-item.product-item--sale
                    p.product-item__hover-text посмотреть товар
                    img(src="images/content/product-1.png", alt="alt").product-item__img
                    h4.product-item__title Водонепроницаемый Рюкзак
                    p.price.product-item__price.rub 9 800
                    p.product-item__notify-text нет в наличии
              .product__slider__item
                .product-item__wrapper
                  button.product-item__favorite
                  button.product-item__basket
                    img(src="images/basket-white.svg", alt="alt")
                  a(href="#").product-item__notify-link 
                    span Сообщить о поступлении
                  a(href="#").product-item.product-item--sale
                    p.product-item__hover-text посмотреть товар
                    img(src="images/content/product-1.png", alt="alt").product-item__img
                    h4.product-item__title Водонепроницаемый Рюкзак
                    p.price.product-item__price.rub 9 800
                    p.product-item__notify-text нет в наличии
              .product__slider__item
                .product-item__wrapper.product-item__not-available
                  button.product-item__favorite
                  button.product-item__basket
                    img(src="images/basket-white.svg", alt="alt")
                  a(href="#").product-item__notify-link 
                    span Сообщить о поступлении
                  a(href="#").product-item.product-item--sale
                    p.product-item__hover-text посмотреть товар
                    img(src="images/content/product-1.png", alt="alt").product-item__img
                    h4.product-item__title Водонепроницаемый Рюкзак
                    p.price.product-item__price.rub 9 800
                    p.product-item__notify-text нет в наличии
          .tabs-content.products__content.tab-2
            .product__slider
              .product__slider__item
                .product-item__wrapper
                  button.product-item__favorite
                  button.product-item__basket
                    img(src="images/basket-white.svg", alt="alt")
                  a(href="#").product-item__notify-link 
                    span Сообщить о поступлении
                  a(href="#").product-item
                    p.product-item__hover-text посмотреть товар
                    img(src="images/content/product-1.png", alt="alt").product-item__img
                    h4.product-item__title Водонепроницаемый Рюкзак
                    p.price.product-item__price.rub 9 800
                    p.product-item__notify-text нет в наличии
              .product__slider__item
                .product-item__wrapper.product-item__not-available
                  button.product-item__favorite
                  button.product-item__basket
                    img(src="images/basket-white.svg", alt="alt")
                  a(href="#").product-item__notify-link 
                    span Сообщить о поступлении
                  a(href="#").product-item.product-item--sale
                    p.product-item__hover-text посмотреть товар
                    img(src="images/content/product-1.png", alt="alt").product-item__img
                    h4.product-item__title Водонепроницаемый Рюкзак
                    p.price.product-item__price.rub 9 800
                    p.product-item__notify-text нет в наличии
              .product__slider__item
                .product-item__wrapper
                  button.product-item__favorite
                  button.product-item__basket
                    img(src="images/basket-white.svg", alt="alt")
                  a(href="#").product-item__notify-link 
                    span Сообщить о поступлении
                  a(href="#").product-item.product-item--sale
                    p.product-item__hover-text посмотреть товар
                    img(src="images/content/product-1.png", alt="alt").product-item__img
                    h4.product-item__title Водонепроницаемый Рюкзак
                    p.price.product-item__price.rub 9 800
                    p.product-item__notify-text нет в наличии
              .product__slider__item
                .product-item__wrapper.product-item__not-available
                  button.product-item__favorite
                  button.product-item__basket
                    img(src="images/basket-white.svg", alt="alt")
                  a(href="#").product-item__notify-link 
                    span Сообщить о поступлении
                  a(href="#").product-item
                    p.product-item__hover-text посмотреть товар
                    img(src="images/content/product-1.png", alt="alt").product-item__img
                    h4.product-item__title Водонепроницаемый Рюкзак
                    p.price.product-item__price.rub 9 800
                    p.product-item__notify-text нет в наличии
              .product__slider__item
                .product-item__wrapper.product-item__not-available
                  button.product-item__favorite
                  button.product-item__basket
                    img(src="images/basket-white.svg", alt="alt")
                  a(href="#").product-item__notify-link 
                    span Сообщить о поступлении
                  a(href="#").product-item.product-item--sale
                    p.product-item__hover-text посмотреть товар
                    img(src="images/content/product-1.png", alt="alt").product-item__img
                    h4.product-item__title Водонепроницаемый Рюкзак
                    p.price.product-item__price.rub 9 800
                    p.product-item__notify-text нет в наличии
              .product__slider__item
                .product-item__wrapper
                  button.product-item__favorite
                  button.product-item__basket
                    img(src="images/basket-white.svg", alt="alt")
                  a(href="#").product-item__notify-link 
                    span Сообщить о поступлении
                  a(href="#").product-item.product-item--sale
                    p.product-item__hover-text посмотреть товар
                    img(src="images/content/product-1.png", alt="alt").product-item__img
                    h4.product-item__title Водонепроницаемый Рюкзак
                    p.price.product-item__price.rub 9 800
                    p.product-item__notify-text нет в наличии
              .product__slider__item
                .product-item__wrapper.product-item__not-available
                  button.product-item__favorite
                  button.product-item__basket
                    img(src="images/basket-white.svg", alt="alt")
                  a(href="#").product-item__notify-link 
                    span Сообщить о поступлении
                  a(href="#").product-item.product-item--sale
                    p.product-item__hover-text посмотреть товар
                    img(src="images/content/product-1.png", alt="alt").product-item__img
                    h4.product-item__title Водонепроницаемый Рюкзак
                    p.price.product-item__price.rub 9 800
                    p.product-item__notify-text нет в наличии
          .tabs-content.products__content.tab-3 slider 3
          .tabs-content.products__content.tab-4 slider 4
          .tabs-content.products__content.tab-5 slider 5
          .tabs-content.products__content.tab-6 slider 6
      .products__more
        a(href="#").products__more-link Показать еще
.banner
  .container
    a(href="#").banner__link
      img(src="images/content/banner.jpg" alt="")